mat-form-field {
    width: 60%;
}

.editProfile {
    background-color: var(--primary);
    color: white;
    width: 100px;
    position: relative;
    top: -35px;
    left: 320px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    appearance: none;
    -moz-appearance: textfield;
}
