<div class="container">
    <h1>{{ profile$ | async }}</h1>
    <h1>Datos personales</h1>
    <button
        mat-raised-button
        class="editProfile"
        #editButton
        (click)="
            toggleEdit([
                usernameField,
                idField,
                emailField,
                phoneField,
                birthdayField,
                addressField
            ])
        "
    >
        Editar
    </button>
    <div class="row">
        <div class="col-8">
            <mat-form-field>
                <mat-label>Nombre de usuario</mat-label>
                <input
                    required
                    matInput
                    value="Josué David"
                    [disabled]="true"
                    #usernameField
                />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Cédula</mat-label>
                <input required matInput value="37545654" disabled #idField />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input
                    matInput
                    type="email"
                    value="jbriceno@unal.edu.co"
                    disabled
                    #emailField
                />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Número de teléfono</mat-label>
                <input
                    type="tel"
                    matInput
                    value="3142219031"
                    disabled
                    #phoneField
                />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Fecha de nacimiento</mat-label>
                <input type="date" matInput disabled #birthdayField />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Dirección</mat-label>
                <input matInput disabled #addressField />
            </mat-form-field>
        </div>
    </div>
</div>
