<div>
    <mat-toolbar class="toolbar">
        <img src="../assets/logoNegative.png" class="logoIcon" />
        <span>AIMS</span>
        <span class="spacer"></span>
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
        >
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <h3>Resumen</h3>
            <a mat-flat-button href="#">
                <mat-icon>speed</mat-icon>
                <span>Resumen </span>
            </a>
            <mat-divider></mat-divider>
            <h3>Perfil académico</h3>
            <a mat-flat-button routerLink="/report">
                <mat-icon>assignment</mat-icon>
                <span>Reporte académico</span>
            </a>
            <a mat-flat-button routerLink="/studentGrading">
                <mat-icon>check_circle_outline</mat-icon>
                <span>Calificaciones</span>
            </a>
            <a mat-flat-button routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                <span>Datos personales</span>
            </a>
            <mat-divider></mat-divider>
            <h3>Asignaturas</h3>
            <a mat-flat-button routerLink="/schedule">
                <mat-icon>calendar_month</mat-icon>
                <span>Horario</span>
            </a>
            <a mat-flat-button routerLink="/enrollment">
                <mat-icon>history_edu</mat-icon>
                <span>Inscripciones</span>
            </a>
            <a mat-flat-button routerLink="/subject">
                <mat-icon>search</mat-icon>
                <span>Búsqueda de asignaturas</span>
            </a>
            <mat-divider></mat-divider>
            <h3>Docencia</h3>
            <a mat-flat-button href="/teacherSchedule">
                <mat-icon>abc</mat-icon>
                <span>Asignaturas</span>
            </a>
            <a mat-flat-button href="/teacherGrading">
                <mat-icon>assignment_turned_in</mat-icon>
                <span>Calificaciones</span>
            </a>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<div>
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <img src="../assets/logoNegative.png" />
                <h1>AIMS</h1>
                <p>Academic information management system</p>
            </div>
        </div>
        <div class="col logBG">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
