<div class="container">
    <h1>Calificaciones</h1>
    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <mat-card-title>Plan de estudios</mat-card-title>
                <mat-card-content>
                    <mat-form-field appearance="legacy">
                        <mat-select value="one">
                            <mat-option value="one">
                                Ingeniería de Sistemas
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card>
                <mat-card-title>Periodo</mat-card-title>
                <mat-card-content>
                    <mat-form-field appearance="legacy">
                        <mat-select value="one">
                            <mat-option value="one"> 2022-II </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <h2>Asignaturas</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <mat-accordion class="subject">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div style="margin-right: 15px">
                            <h3>Introducción a la ingeniería de sistemas</h3>
                            <p>2553274</p>
                        </div>
                        <div>
                            <p class="grade">5.0</p>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="row titleGrading">
                        <div class="col"><h4>Reporte</h4></div>
                        <div class="col"><h4>Reporte</h4></div>
                        <div class="col"><h4>Reporte</h4></div>
                    </div>
                    <div class="row grades">
                        <div class="col"><p>Reporte</p></div>
                        <div class="col"><p>Reporte</p></div>
                        <div class="col"><p>Reporte</p></div>
                    </div>
                    <div class="row grades">
                        <div class="col"><p>Reporte</p></div>
                        <div class="col"><p>Reporte</p></div>
                        <div class="col"><p>Reporte</p></div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-6">
            <mat-accordion class="subject">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div style="margin-right: 15px">
                            <h3>Introducción a la ingeniería de sistemas</h3>
                            <p>2553274</p>
                        </div>
                        <div>
                            <p class="grade">5.0</p>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="row titleGrading">
                        <div class="col"><h4>Reporte</h4></div>
                        <div class="col"><h4>Reporte</h4></div>
                        <div class="col"><h4>Reporte</h4></div>
                    </div>
                    <div class="row grades">
                        <div class="col"><p>Reporte</p></div>
                        <div class="col"><p>Reporte</p></div>
                        <div class="col"><p>Reporte</p></div>
                    </div>
                    <div class="row grades">
                        <div class="col"><p>Reporte</p></div>
                        <div class="col"><p>Reporte</p></div>
                        <div class="col"><p>Reporte</p></div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
