<div class="container main">
    <div class="row">
        <div class="col">
            <p>Regístrate</p>
            <form
                class="example-form"
                (submit)="
                    registerUser(userNameField, passwordField, teacherField)
                "
            >
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput #userNameField />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" #passwordField />
                </mat-form-field>

                <mat-radio-group class="roleSpacing" aria-label="Escoge tu rol">
                    <mat-radio-button value="1" checked="checked"
                        >Estudiante</mat-radio-button
                    >
                    <mat-radio-button value="2" #teacherField
                        >Profesor</mat-radio-button
                    >
                </mat-radio-group>
                <br />
                <button mat-raised-button color="primary">Registrate</button>
            </form>
            <br />
            <p>¿Ya tienes una cuenta? Accede desde <a href="/login">aquí</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Mensajes de Petición</p>
            <p></p>
        </div>
    </div>
</div>
