<div class="container main d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            <h1>Regístrate</h1>
            <form
                class="example-form"
                (submit)="
                    registerUser(userNameField, passwordField, teacherField)
                "
                appearance="legacy"
            >
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput #userNameField />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" #passwordField />
                </mat-form-field>

                <mat-radio-group class="roleSpacing" aria-label="Escoge tu rol">
                    <mat-radio-button value="1" checked="checked"
                        >Estudiante</mat-radio-button
                    >
                    <mat-radio-button value="2" #teacherField
                        >Profesor</mat-radio-button
                    >
                </mat-radio-group>
                <button
                    mat-raised-button
                    color="primary"
                    class="regButtonMargin"
                >
                    Registrate
                </button>
            </form>
            <br />
            <p>¿Ya tienes una cuenta? Accede desde <a href="/login">aquí</a></p>
            <p>Mensajes de Petición</p>
            <p></p>
        </div>
    </div>
</div>
