<div class="container main">
    <div class="row">
        <div class="col">
            <p>Iniciar sesión</p>
            <form
                class="example-form"
                (submit)="loginUser(userNameField, passwordField)"
            >
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput #userNameField />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" #passwordField />
                </mat-form-field>
                <br />
                <button mat-raised-button color="primary">
                    Iniciar Sesión
                </button>
            </form>
            <br />
            <p>¿No tienes una cuenta? Crea una <a href="/register">aquí</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Mensajes de Petición</p>
            <p></p>
        </div>
    </div>
</div>
